{% extends "admin/delete_selected_confirmation.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
{{ block.super }}
{{ media }}
<style>
      form .button {
        background: #79aec8;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        color: #fff;
      }

      form .button:hover {
        background: #609ab6;
      }

      form .button-cancel {
        background: #ddd;
        color: #333;
        margin-left: 10px;
      }

      form .button-cancel:hover {
       background: #ccc;
      }



</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ action_short_description }}
</div>
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <div>
        <h2>{{ objects_name|capfirst }}</h2>
        {{ form.objects }}
        {{ objects|unordered_list }}
        <h2>{% trans "Awards" %}</h2>
        {% if form.awards|length %}
        {{ form.awards }}
        {% else %}
        {% trans "Selected objects have no awards." %}
        {% endif %}
        <h2>{% trans "Action" %}</h2>
        {{ form.action_answer }}
        <input type="hidden" name="{{ action_checkbox_name }}" value="0">
        <input type="hidden" name="action" value="{{ action_name }}">
        <button type="submit" name="answer" value="yes" class="button">{% trans 'Yes, I’m sure' %}</button>
        <button type="submit" name="answer" value="no" class="button button-cancel">{% trans 'No, take me back' %}</button>
    </div>
</form>

{% endblock content %}